<?xml version="1.0"?>
<robot name="robot_name">
  <link name="base_link">
    <visual>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 .8 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="300"/>
      <inertia ixx="50" ixy="0.0" ixz="0.0" iyy="50" iyz="0.0" izz="50"/>
    </inertial>
  </link>

  <joint name="joint_1" type="revolute">
    <axis xyz="0 0 1"/>
    <limit effort="1000.0" lower="-6" upper="6" velocity="1.57"/>
    <origin rpy="0 0 0" xyz=".5 .5 0"/>
    <parent link="base_link"/>
    <child link="link_1"/>

    <!-- <dynamics damping="0.01" friction="0.0"/> -->
  </joint>

  <link name="link_1">
    <visual>
      <origin rpy="0 1.5708 0" xyz="0.5 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1"/>
      </geometry>
      <material name="white">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.075" length=".15"/>
      </geometry>
      <material name="white">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="1"/>
      </geometry>
      <origin rpy="0 1.5708 0" xyz="0 0 .5"/>
    </collision>
    <inertial>
      <mass value="3"/>
      <inertia ixx=".5" ixy="0.0" ixz="0.0" iyy=".5" iyz="0.0" izz=".5"/>
    </inertial>
  </link>

  <joint name="joint_2" type="revolute">
    <axis xyz="0 1 0"/>
    <limit effort="1000.0" lower="-6" upper="6" velocity="0.5"/>
    <origin rpy="0 0 0" xyz="1 0 0"/>
    <parent link="link_1"/>
    <child link="link_2"/>

    <!-- <dynamics damping="0.01" friction="0.0"/> -->
  </joint>

  <link name="link_2">
    <visual>
      <origin rpy="0 1.5708 0" xyz="0.5 0 0"/>
      <geometry>
        <cylinder radius="0.05" length="1"/>
      </geometry>
      <material name="white">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <visual>
      <origin rpy="1.5708 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.075" length=".15"/>
      </geometry>
      <material name="white">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="1"/>
      </geometry>
      <origin rpy="0 1.5708 0" xyz="0 0 .5"/>
    </collision>
    <inertial>
      <mass value="3"/>
      <inertia ixx=".5" ixy="0.0" ixz="0.0" iyy=".5" iyz="0.0" izz=".5"/>
    </inertial>
  </link>

</robot>
